APP_NAME="mini-RAG"
APP_VERSION="0.1"
OPENAI_API_KEY=""
FILE_ALLOWED_EXTENSIONS=["text/plain","application/pdf"]

FILE_MAX_SIZE=10485760  # 10 MB in bytes as an example
FILE_DEFAULT_CHUNK_SIZE=512000  #512KB  